* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  color: #3d3d3d;
}

p {
  font-weight: 200;
  font-size: 14px;
  margin: 0;
}

.app {
  width: 80vw;
  height: 90vh;
  margin: 3vw;
  display: flex;
  flex-direction: column;
}

.search-result {
  margin-top: 10px;
  flex: 1;
  overflow: scroll;
  padding-bottom: 20px;
}

.search-result::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.surprise {
  background-color: #ececf1;
  color: #000;
  border-radius: 5px;
  font-weight: 600;
  padding: 4px 12px;
  margin: 0 0 2px 5px;
  border: none;
  cursor: pointer;
}

.surprise:hover {
  background-color: #ddd;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column; /* Added to stack elements vertically */
  border: solid 0.5px #cacaca;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 82, 0.15) 0 2px 4px;
}

.input-container textarea {
  width: 100%;
  padding: 13px 14px;
  border: none;
  box-sizing: border-box;
  outline: none;
  font-size: 15px;
  font-weight: 200;
  resize: vertical;
  height: auto;
}

.input-container input::placeholder {
  color: #cacaca;
  font-weight: 200;
}

.input-container button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  color: #777;
  font-weight: bold;
  padding: 13px 14px; 
}

.input-container button:active {
  background-color: #cacaca;
}

.answer {
  padding: 13px 14px;
  border: solid 0.5px #cacaca;
  background-color: #fff;
  margin: 5px;
  border-radius: 6px;
  font-weight: 200;
  border-radius: 6px;
}

.error {
  color: rgb(172, 0, 0);
}

.message-gap {
  height: 10px;
}

.user-message {
  background-color: #b3d4fc81;
  align-self: flex-start;
  border-radius: 6px;
  padding: 10px;
}

.bot-message {
  background-color: #c7c7c78e;
  align-self: flex-end;
  border-radius: 6px;
  padding: 10px;
}

