* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  color: #777;
}

p {
  font-weight: 200;
  font-size: 14px;
  margin: 0; /* Remove margin for cleaner spacing */
}

.app {
  width: 80vw;
  height: 80vh;
  margin: 10vw;
  display: flex;
  flex-direction: column;
}

.search-result {
  margin-top: 10px;
  overflow-scroll: auto; /* Use auto instead of scroll for dynamic height */
  flex: 1; /* Allow search result to fill remaining space */
}

.surprise {
  background-color: #ececf1;
  color: #000;
  border-radius: 5px;
  font-weight: 600;
  padding: 4px 12px;
  margin: 0 0 2px 5px;
  border: none;
  cursor: pointer; /* Add cursor for hover effect */
}

.surprise:hover {
  background-color: #ddd; /* Add hover effect */
}

.input-container {
  width: 100%;
  display: flex;
  border: solid 0.5px #cacaca;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 82, 0.15) 0 2px 4px;
}

.input-container input {
  width: 90%;
  padding: 13px 14px;
  border: none;
  box-sizing: border-box;
  outline: none;
  font-size: 15px;
  font-weight: 200;
}

.input-container input::placeholder {
  color: #cacaca;
  font-weight: 200;
}

.input-container button {
  min-width: 10%;
  background-color: #fff;
  border: none;
  border-left: 1px solid #cacaca;
  cursor: pointer;
  color: #777;
  font-weight: bold;
}

.input-container button:active {
  background-color: #cacaca;
}

.answer {
  padding: 13px 14px;
  border: solid 0.5px #cacaca;
  background-color: #fff;
  margin: 5px;
  border-radius: 6px;
  font-weight: 200;
  border-radius: 6px;
}

.error {
  color: red; /* Change error message color for better visibility */
}
